/*
* Title: CMS Main CSS
* Developer: Daniel Griffiths
* Updated: 02/08/2015
*/
/*
|-------------------------------------------------------
| Core Styles
|-------------------------------------------------------
*/
html, body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  padding: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background: #f5f5f5;
  color: #999; }

*, *:before, *:after {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, h6 {
  color: #111;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: initial;
  margin: 10px 0; }

.text-input {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
  border-radius: 0;
  width: 100%;
  margin: 10px 0; }

/* information popups */
.toast-notifaction {
  position: fixed;
  top: 40px;
  right: 20px;
  padding: 10px 70px;
  background: #3D4454;
  margin: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.toast-notifaction:after {
  font-weight: bold;
  content: "\00d7";
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  width: 38px;
  text-align: center;
  height: 100%;
  line-height: 39px;
  font-size: 20px; }

/* Reset input styles on iOS */
.btn, .text-input, textarea {
  -webkit-appearance: none; }

input[type=file] {
  background: #fff;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  float: left;
  margin-right: 10px; }

.clear {
  clear: both; }

.v {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px;
  background: whitesmoke;
  border-radius: 5px 0 0 0; }

/* version num */
/*
|-------------------------------------------------------
| Navigation Bar
|-------------------------------------------------------
*/
.main-head {
  width: 100%;
  background: #1C1F26;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1) !important;
  z-index: 999;
  border-bottom: 1px solid #16191F; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav ul li {
  float: left; }

.logout {
  float: right; }

nav ul li a {
  padding: 12px 25px;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  color: #8F9194;
  text-transform: uppercase;
  transition: color 0.1s ease-out 0s; }

nav ul li a i {
  margin-right: 6px; }

/* Nav Hover States */
nav ul li a:hover {
  color: #fff; }

/* Res Menu */
.res-menu {
  font-size: 30px;
  color: #999;
  transition: color 0.1s ease-out 0s;
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.res-menu > .fa-bars {
  cursor: pointer;
  padding: 5px 20px; }

.res-menu:hover nav ul {
  display: none !important; }

/*
|-------------------------------------------------------
| Sidebar
|-------------------------------------------------------
*/
aside {
  width: 200px;
  background: #1C1F26;
  min-height: calc(100% - 40px);
  float: left;
  border-right: 5px solid #3D4454; }

aside ul {
  list-style: none;
  padding: 0;
  margin: 0; }

aside ul li a {
  text-decoration: none;
  display: block;
  padding: 12px 25px;
  color: #8F9194;
  border-bottom: 1px solid #16191F;
  border-top: 1px solid #212630;
  position: relative;
  text-transform: uppercase;
  transition: all 0.1s ease-out 0s; }

aside ul li a i {
  margin-right: 6px; }

aside ul li a:hover {
  background: #3D4454;
  border-top: 1px solid #3D4454;
  border-bottom: 1px solid #3D4454;
  color: #fff; }

/* active menu item */
aside .active {
  background: #3D4454;
  color: #fff;
  border-top: 1px solid #3D4454;
  border-bottom: 1px solid #3D4454; }

/*
|-------------------------------------------------------
| Body
|-------------------------------------------------------
*/
section {
  float: left;
  width: calc(100% - 200px);
  padding-bottom: 20px;
  animation: fade-in 0.2s;
  -webkit-animation: fade-in 0.2s; }

article {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10px 30px; }

time {
  color: #CDCBCB; }

/* Buttons */
.btn {
  padding: 10px 15px;
  text-transform: uppercase;
  background: #777C9B;
  border: 0;
  border-radius: 2px;
  font-size: 10px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: background 0.1s ease-out 0s;
  float: left;
  margin: 0 10px 10px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn:hover {
  background: #8489AD; }

/* alt btn colours*/
.btn.red {
  background: #DB3B3B; }

.btn.red:hover {
  background: #F94141; }

.btn.green {
  background: #799B77; }

.btn.green:hover {
  background: #89AD86; }

.no-margin {
  margin-bottom: 0; }

/* Tables */
table {
  width: 100%;
  border: solid 1px #DBDBDB;
  border-spacing: 0;
  border-collapse: separate;
  overflow: hidden;
  float: left; }

table a {
  text-decoration: none;
  display: block;
  padding: 5px;
  background: #777C9B;
  color: #fff;
  float: left;
  border-radius: 3px; }

table tr:nth-child(even) {
  background: #fff; }

table tr:first-child {
  background: #3D4454;
  color: #ECECEC; }

table tr td {
  padding: 10px; }

/* posts list */
ul.posts {
  padding: 0;
  list-style: none; }

ul.posts li {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #E7E7E7; }

/*
|-------------------------------------------------------
| Widgets
|-------------------------------------------------------
*/
.widget {
  width: calc(50% - 10px);
  background: #fff;
  padding: 52px 12px 12px;
  min-height: 230px;
  border: 1px solid #ccc;
  margin: 0 10px 10px 0;
  position: relative; }

.widget:nth-child(odd) {
  float: right; }

.widget:nth-child(even) {
  float: left; }

.widget h3 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 12px; }

.widget p {
  margin: 0; }

/*
|-------------------------------------------------------
| Screen: Media
|-------------------------------------------------------
*/
/* file preview styles */
.f-preview {
  width: 270px;
  height: 270px;
  margin: 0 10px 10px 0;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  background-position: center center;
  background-size: cover !important;
  float: left;
  position: relative;
  text-align: center; }

.f-preview a {
  color: #999;
  font-weight: 100;
  text-decoration: none; }

.f-preview .filename {
  position: absolute;
  font-weight: bold;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  margin: auto;
  background: #F9F9F9;
  border-top: 1px solid #DFDFDF; }

.f-preview .file-extention {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  text-transform: uppercase;
  margin: auto;
  font-size: 80px;
  cursor: default; }

/*
|-------------------------------------------------------
| Froala styles
|-------------------------------------------------------
*/
section .froala-wrapper.f-basic {
  background: #fff;
  height: 400px;
  border: 1px solid #ccc; }

section .froala-element.f-basic {
  height: 399px; }

section .froala-editor {
  border: 1px solid #ccc; }

.froala-box {
  margin: 10px 0; }

section .f-html .froala-element {
  height: 398px; }

/* fallback textarea styles if js is disabled */
.upload-page-content {
  width: 100%;
  padding: 10px;
  min-height: 435px;
  margin: 10px 0;
  border: 1px solid #ccc;
  font-size: 15px; }

/*
|-------------------------------------------------------
| jQuery UI Styles
|-------------------------------------------------------
*/
#sortable, #sortable-remove {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%; }

#sortable li, #sortable-remove li {
  margin: 0 5px 5px 0;
  padding: 5px 10px;
  font-size: 1.2em;
  height: 1.5em;
  -webkit-font-smoothing: antialiased; }

html > body #sortable li, html > body #sortable li #sortable-remove {
  height: 1.5em;
  line-height: 1.3em; }

#sortable {
  border: 1px dashed #5F5AFF;
  padding: 12px 9px 6px 13px;
  margin-bottom: 10px;
  min-height: 57px; }

#sortable-remove {
  border: 1px dashed red;
  padding: 12px 9px 6px 13px;
  margin-bottom: 10px;
  min-height: 57px; }

#sortable-remove li {
  background: #F9F9F9;
  border: 1px solid #DFDFDF;
  color: #999; }

.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em; }

.ui-state-default {
  border: 1px solid #3c3c3c;
  border-radius: 3px;
  height: 32px !important;
  cursor: -webkit-grab;
  background: #444;
  color: #E2E2E2; }

.ui-sortable-helper {
  cursor: -webkit-grabing; }

.ui-state-highlight {
  border: 1px dashed #3c3c3c;
  border-radius: 3px;
  height: 32px !important;
  cursor: -webkit-grab;
  color: #E2E2E2; }

/*
|-------------------------------------------------------
| Animations
|-------------------------------------------------------
*/
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*
|-------------------------------------------------------
| Responsive Styles
|-------------------------------------------------------
*/
/*fix for nav after closing menu in res view*/
@media only screen and (min-width: 550px) {
  nav ul, aside {
    display: block !important; } }
@media only screen and (max-width: 550px) {
  /* Nav */
  nav, aside {
    width: 100%;
    background: #fff; }

  nav ul, aside {
    display: none; }

  nav ul li, aside ul li a {
    float: none;
    border-top: 0;
    border-bottom: 1px solid #E5E5E5; }

  nav ul li:Last-child {
    float: left;
    width: 100%; }

  nav ul li a {
    text-align: left; }

  nav ul li a:hover {
    background: #3D4454; }

  .main-head {
    border: 0; }

  .res-menu {
    display: block; }

  /* Sidebar */
  aside {
    min-height: 0;
    border: 0; }

  aside ul li a:hover {
    border-top: 0; }

  /* Body */
  article {
    width: 100%; }

  section {
    width: 100%;
    margin-right: 0;
    padding-right: 0; }

  /* Widgets */
  .widget {
    width: 100%; }

  /* active nav */
  aside .active {
    border-top: 0; }

  /* File previews */
  .f-preview {
    width: 100%;
    height: auto;
    min-height: 220px;
    margin: 0 0 10px 0; } }

/*# sourceMappingURL=main.css.map */
