body{
  overflow-x:hidden;
}

/* hide broken font awesome icons */
.fa{
  display:none !important;
}

/* fallback for lack of calc support */
.widget{
  width:48% !important;
  margin-right:2%;
}

section{
  width: 100%;
  margin-right: -200px;
  padding-right: 200px;
}

aside{
  height:100%;
}

/* show warning on IE7 or lower */
.browser-warning{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 999;
}

.browser-warning p{
  position: absolute;
  top: 30%;
  font-size: 50px;
  text-align: center;
  padding: 50px;
  color: #BD2525;
}
